body{
    margin: 0;
    padding: 0;
    background: url(../src/assets/images/estudiantes1.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
    height: 100%; 

}
.fondo{
    background-color: rgba(83, 83, 83, 0.674);
    padding: 1%;
}

.fondo2{
    background-color: rgb(255, 255, 255);
    padding: 4%;
    margin: 1%;
}

.fondo3{
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin-top: 0.4%;
}

.fondo4{
    background: rgb(222,231,222);
    background: linear-gradient(90deg, rgba(222,231,222,1) 0%, rgba(253,254,253,0.6283555658591562) 50%, rgba(222,231,222,1) 100%);
    margin-top: 0;
}

.cardClass{
    margin-bottom: 10%;
}
